# --- IGNORE EVERYTHING BY DEFAULT ---
*

# --- OPEN DIRECTORIES (For traversing) ---
!*/

# --- EXPLICITLY BLOCK DATA FOLDERS ---
**/postgres/
**/influxdb/
**/mysql/
**/mysql_data/
**/mariadb/
**/redis/
**/mongo/
**/data/
**/logs/
**/logrotate/
**/tmp/
**/etc-pihole/
**/html/
**/db/
**/config/
**/metadata/

# --- ALLOW ---
!docker-compose.yml.disabled
!docker-compose.yml
!.gitignore
!.commit-warning
!Dockerfile
!.env.example
!/README.md

# --- CONTAINERS EXCEPTION ---
!homepage/config/
!homepage/config/*.yaml
!homepage/config/images/
!homepage/config/images/*
!wifi_robot/*.py

# --- SECURITY ---
.env
**/.env
.dockge/
.git/
