# --- IGNORE EVERYTHING BY DEFAULT ---
*

# --- OPEN DIRECTORIES (For traversing) ---
!*/

# --- PREVENT PERMISSION ERROR ---
**/html/
**/postgres/
**/db/
**/influxdb/
**/mysql_data/
**/config/
**/data/
**/etc-pihole/
**/etc-dnsmasq.d/
**/pgdata/
**/letsencrypt/

# --- ALLOW ---
!docker-compose.yml~
!docker-compose.yml
!compose.yml~
!compose.yml
!.gitignore
!.commit-warning
!Dockerfile
!.env.example
!/README.md
!.gitattributes

# --- CONTAINERS EXCEPTION ---
!renovate/config.js
!homepage/config/
!homepage/config/*.yaml
!homepage/config/images/
!homepage/config/images/*
!wifi-robot/*.py
!wifi-robot/guestwifi
!paperless-ngx/docker-compose.env

# --- SECURITY ---
.env
**/.env
.git/

