TAILSCALE_DOMAIN=''
NGROK_TOKEN=''
TELEGRAM_DANTE_TOKEN=''
TELEGRAM_VERGIL_TOKEN=''
MY_TELEGRAM_CHAT_ID=''
SON_API=''
RAD_API=''
QBIT_USER=''
QBIT_PASS=''
PIHOLE_PASS=''
N8N_CLIENT_ID=''
N8N_CLIENT_SECRET=''
HOST_CERT_PATH='/home/gravi-ctrl/.local/share/mkcert/rootCA.pem'
