HOMEPAGE_VAR_NPM_USER=''
HOMEPAGE_VAR_NPM_PASS=''
HOMEPAGE_VAR_PI_API=''
HOMEPAGE_VAR_NEXTCLOUD_USER=''
HOMEPAGE_VAR_NEXTCLOUD_APP_PASS=''
HOMEPAGE_VAR_PAPERLESS_API=''
HOMEPAGE_VAR_AUDIOBOOKSHELF_API=''
HOMEPAGE_VAR_QBIT_USERNAME=''
HOMEPAGE_VAR_QBIT_PASS=''
HOMEPAGE_VAR_JD2_USER=''
HOMEPAGE_VAR_JD2_PASS=''
HOMEPAGE_VAR_JELLYFIN_KEY=''
HOMEPAGE_VAR_RADARR_KEY=''
HOMEPAGE_VAR_SONARR_KEY=''
HOMEPAGE_VAR_PROWLARR_KEY=''
HOMEPAGE_VAR_BAZARR_KEY=''
