UPLOAD_LOCATION=/srv/data/assets/immich/library
DB_DATA_LOCATION=./postgres
TZ=Africa/Cairo
IMMICH_VERSION=v2
# Please use only the characters `A-Za-z0-9`, without special characters or spaces
DB_PASSWORD=''
DB_USERNAME=''
DB_DATABASE_NAME=''
