HOST_CERT_PATH='/home/gravi-ctrl/.local/share/mkcert/rootCA.pem'
PROWLARR_CLIENT_ID=''
PROWLARR_CLIENT_SECRET=''
PROWLARR_COOKIE_SECRET='' # openssl rand -hex 16
RADARR_CLIENT_ID=''
RADARR_CLIENT_SECRET=''
RADARR_COOKIE_SECRET='' # openssl rand -hex 16
SONARR_CLIENT_ID=''
SONARR_CLIENT_SECRET=''
SONARR_COOKIE_SECRET='' # openssl rand -hex 16
BAZARR_CLIENT_ID=''
BAZARR_CLIENT_SECRET=''
BAZARR_COOKIE_SECRET='' # openssl rand -hex 16
LOG_LEVEL=''
LOG_FILE=''
LOG_HTML=''
CAPTCHA_SOLVER=''
